.ads {
    display: flex;
    flex-direction: column;
    width: 270px;
    overflow: hidden;
    border: 1px solid var(--border-color);
    border-radius: var(--border);
}

.ads video {
    display: flex;
    width: 100%;
    cursor: pointer;
}

.ads video::-webkit-media-controls {
    opacity: 0;
}

.ads-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ads-content h1 {
    font-size: 1rem;
    font-weight: 600;
}

.ads-content p {
    font-size: 0.8rem;
    color: var(--gray-color);
}

.ads-content a {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2px 10px;
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--dark-color);
    border-radius: 4px;
    background: var(--light-color);
    transition: var(--transition-2s);
}

.ads-content a:hover {
    background: var(--gray-color);
}

.ad-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 235px;
    font-size: 0.8rem;
    font-weight: 300;
    border: 1px solid var(--border-color);
    border-radius: var(--border);
    background: linear-gradient(45deg, #0f0f0f 20%, #1e1e1e 35%, #0f0f0f 50%);
    background-size: 400% 100%;
    animation: skeleton-loading 1.5s infinite linear;
}

.ad-erro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 220px;
    font-size: 0.8rem;
    font-weight: 300;
    border: 1px solid var(--border-color);
    border-radius: var(--border);
    background: var(--background-card);
}