.aside-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 240px;
    cursor: default;
}

.aside-right h3{
    text-align: center;
    font-size: 0.6rem;
    font-weight: 100;
    color: #525252;
}

.aside-right h3 a{
    color: #757575;
}