.careers-main {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    background: #000;
    position: relative;
    overflow: hidden;
}

.careers-bg {
    position: absolute;
    inset: 0;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
    mask-image: linear-gradient(to bottom, black 0%, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 70%, transparent 100%);
}

.careers-grid {
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, #ffffff0c 1px, transparent 1px), linear-gradient(to bottom, #ffffff0c 1px, transparent 1px);
    background-size: 70px 70px;
    mask-image: radial-gradient(circle at center, black 35%, transparent 85%);
}

.careers-glow {
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at 50% 25%, #7676761f, #ffffff0d, transparent 60%);
    filter: blur(140px);
    animation: glowMove 20s ease-in-out infinite alternate;
}

@keyframes glowMove {
    0% {
        transform: translateY(-140px) scale(1);
    }
    100% {
        transform: translateY(140px) scale(1.2);
    }
}

.careers-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, transparent 0%, #ffffff0d 50%, transparent 100%);
    opacity: 0.35;
}

.careers-bg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center, transparent 40%, #00000066 70%, #000000e6 100%);
}

.careers-noise {
    position: absolute;
    inset: 0;
    background-image: url("https://grainy-gradients.vercel.app/noise.svg");
    opacity: 0.015;
}

/* HEADER */

.careers-main-header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid transparent;
    transition: var(--transition-2s);
}

.careers-main-header.scrolled {
    background: #00000065;
    backdrop-filter: blur(5px);
    border-color: var(--dark-color);
}

.careers-main-header-content {
    display: flex;
    width: 100%;
    max-width: 1300px;
    justify-content: space-between;
    padding: 20px;
}

.careers-main-header img {
    height: 35px;
}

.careers-header-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.careers-header-left nav {
    display: flex;
}

.careers-header-left nav a {
    display: flex;
    padding: 4px 13px;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--gray-color);
    border-radius: 50px;
    transition: var(--transition-2s);
}

.careers-header-left nav a:hover {
    background: #202020;
    color: var(--light-color);
}

.careers-header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.careers-header-right a {
    display: flex;
    padding: 7px 15px;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--gray-color);
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    background: #080808;
    cursor: pointer;
    transition: var(--transition-2s);
}

.careers-header-right a:hover {
    background: #202020;
    color: var(--light-color);
}

.careers-header-right button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    background: transparent;
    cursor: pointer;
}

.careers-header-right button img {
    width: 100%;
    height: fit-content;
}

/* CONTENT */

.careers-content-main {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    min-height: 100vh;
    padding: 100px 0 0;
}

.careers-content-introduction {
    display: flex;
    flex-direction: column;
    margin-top: 145px;
}

.careers-content-introduction h1 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.7;
}

.careers-content-introduction a {
    margin-top: 55px;
    display: flex;
    width: fit-content;
    font-size: 1rem;
    font-weight: 500;
    color: var(--black);
    border-radius: 50px;
    padding: 10px 25px;
    background: var(--light-color);
    transition: var(--transition-2s);
}

.careers-content-introduction a:hover {
    background: #b3b3b3;
}

.careers-content-positions {
    margin-top: 133px;
    display: flex;
    flex-direction: column;
    border: 1px solid #101010;
    background: var(--black);
    z-index: 1;
}

.careers-content-positions-header{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

.careers-content-positions-header h1{
    font-size: 1.7rem;
    font-weight: 500;
}