.catalog-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.catalog-main-content {
    padding: 130px 0 70px;
    width: 90vw;
    max-width: 1200px;
    min-height: 100vh;
}

.catalog-main-header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.catalog-main-header-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 15px;
}

.catalog-main-header-content h1 {
    font-size: 0.95rem;
    font-weight: 400;
    color: var(--gray-color);
}

.catalog-main-header-content .hr {
    display: flex;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--dark-color);
}

.catalog-main-header-change-page{
    display: flex;
    gap: 5px;
}

.catalog-main-header-change-page button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background: transparent;
    color: #e9e9e9;
    cursor: pointer;
    transition: var(--transition-2s);
}

.catalog-main-header-change-page button:hover{
    border-color: var(--gray-color);
    color: var(--light-color);
}

.catalog-main-header-input {
    display: flex;
    align-items: center;
    border: 1px solid #252525;
    border-radius: 5px;
    padding: 0 7px;
    height: 35px;
    gap: 7px;
}

.catalog-main-header-input button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: var(--gray-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.catalog-main-header-input button:hover {
    color: var(--light-color);
}

.catalog-main-header-input input {
    display: flex;
    width: 236px;
    background: none;
    border: none;
    outline: none;
    color: var(--light-color);
    font-size: 0.85rem;
    font-weight: 200;
}

.catalog-content {
    display: flex;
    width: 100%;
    gap: 30px;
}

/* games */
.catalog-main-cards {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
    width: 100%;
}

.no-games-found{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: center;
    color: var(--gray-color);
}

.no-games-found p{
    font-size: 0.95rem;
    font-weight: 300;
}

.catalog-card-game{
    display: flex;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    justify-content: space-between;
    background: #000000f5;
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: var(--transition-2s);
    color: var(--light-color);
}

.catalog-card-game:hover{
    transform: translateY(-3px);
    background: #0c0c0cb8;
}

.catalog-card-game:hover.catalog-card-game button{
    opacity: 1;
}

.catalog-card-game button{
    display: flex;
    opacity: 0;
    height: fit-content;
    border: none;
    background: none;
    color: var(--light-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.catalog-card-game button:hover{
    transform: scale(1.2);
}

.catalog-card-game button.game-in-lib{
    opacity: 1;
}

.catalog-card-game-content{
    display: flex;
    align-items: center;
    gap: 15px;
}

.catalog-card-game-content img{
    display: flex;
    max-width: 180px;
    min-width: 180px;
    height: 100px;
    width: fit-content;
    border-radius: 2px;
    border: 1px solid #101010;
    object-fit: cover;
}

.catalog-card-game-content h1{
    font-size: 1rem;
    font-weight: 500;
}

.catalog-card-game-category{
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.catalog-card-game-category p{
    display: flex;
    padding: 0 5px;
    border: 1px solid var(--dark-color);
    border-radius: 2px;
    background: #101010;
    font-size: 0.8rem;
    color: var(--gray-color);
}

/* filter */
.catalog-main-filter {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: fit-content;
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background: var(--background-card);
}

.catalog-main-filter-header p {
    margin-top: 3px;
    display: flex;
    font-size: 0.8rem;
    color: var(--gray-color);
}

.catalog-main-filter-header article {
    display: flex;
    align-items: center;
    gap: 10px;
}

.catalog-main-filter-header div {
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: var(--primary-color);
}

.catalog-main-filter-header div.purple{
    background: #800080;
}

.catalog-main-filter-header div.red{
    background: #ff0000;
}

.catalog-main-filter-header h1 {
    font-size: 1rem;
    font-weight: 400;
}

.catalog-filters {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 400px;
    overflow: auto;
    flex-direction: column;
    gap: 8px;
}

.catalog-filters::-webkit-scrollbar {
    display: none;
    width: 5px;
}

.catalog-filters::-webkit-scrollbar-thumb {
    background: var(--dark-color);
    border-radius: 20px;
    cursor: pointer;
}

.catalog-filters:hover.catalog-filters::-webkit-scrollbar{
    display: flex;
}

.catalog-filters div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.catalog-filters div input {
    appearance: none;
    width: 17px;
    height: 17px;
    background-color: var(--dark-color);
    border: 1px solid var(--border-color);
    border-radius: 3px;
    position: relative;
    cursor: pointer;
}

.catalog-filters div input:checked {
    background: #252525;
    border-color: #454545;
}

.catalog-filters div input:checked::after {
    content: "";
    position: absolute;
    left: 5.5px;
    top: 2px;
    width: 2.5px;
    height: 8px;
    border: solid var(--gray-color);
    border-width: 0 1.5px 1.5px 0;
    transform: rotate(45deg);
}

.catalog-filters div label {
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--gray-color);
    cursor: pointer;
}

/* change page */
.catalog-change-page{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
    cursor: default;
}

.catalog-change-page h2{
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--gray-color);
}

.catalog-change-page h1{
    font-size: 0.95rem;
    font-weight: 400;
    color: #c3c3c3;
}

.catalog-change-page button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background: transparent;
    color: #e9e9e9;
    cursor: pointer;
    transition: var(--transition-2s);
}

.catalog-change-page button:hover{
    border-color: var(--gray-color);
    color: var(--light-color);
}

@media (width < 720px) {

    .catalog-main-content {
        padding: 110px 15px 60px;
        width: 100%;
    }

    .catalog-main-header {
        flex-direction: column;
        gap: 15px;
    }

    .catalog-main-header-content {
        gap: 10px;
    }

    .catalog-main-header-content .hr {
        display: none;
    }

    .catalog-main-header-change-page {
        margin-left: auto;
    }

    .catalog-main-header-input {
        width: 100%;
    }

    .catalog-main-header-input input {
        width: 100%;
    }

    .catalog-content {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .catalog-card-game-content img {
        min-width: 120px;
        width: fit-content;
        height: 70px;
        object-fit: cover;
    }

    .catalog-card-game h1 {
        font-size: 0.95rem;
    }

    .catalog-card-game-category {
        flex-wrap: wrap;
        gap: 6px;
    }

    .catalog-card-game button {
        opacity: 1;
    }

    .catalog-main-filter {
        width: 100%;
        margin-top: 15px;
        padding: 15px;
    }

    .catalog-filters {
        height: 250px;
        display: grid;
        gap: 10px 30px;
        grid-template-columns: repeat(2, 1fr);
    }

    .catalog-filters::-webkit-scrollbar{
        display: flex;
    }

    .catalog-filters::-webkit-scrollbar-thumb{
        background: #101010;
    }

    .catalog-filters div label {
        font-size: 0.85rem;
        width: max-content;
    }

    .catalog-change-page {
        gap: 10px;
        flex-wrap: wrap;
    }

    .catalog-change-page h1 {
        font-size: 0.9rem;
    }

    .catalog-change-page button {
        width: 35px;
        height: 35px;
    }
}