.friends-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends-main-content {
    margin: 100px 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    gap: 20px;
}

.friends-ctn {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    min-height: 100vh;
    width: 100%;
    gap: 15px;
}


/* banner user */
.friends-main-me {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background-image: linear-gradient(90deg, #000, #0b0b0b, #000);
    gap: 15px;
}

.friends-main-me img {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 2px;
}

.friends-main-me a {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--light-color);
}


/* aside nav */
.friends-main-aside {
    position: sticky;
    top: 30px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: fit-content;
    gap: 15px;
}

.friends-main-aside h1 {
    display: flex;
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--gray-color);
    gap: 10px;
}

.friends-main-aside ul {
    display: flex;
    flex-direction: column;
}

.friends-main-aside ul a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 8px 10px;
    font-size: 0.86rem;
    border-radius: 5px;
    color: #454545;
    cursor: pointer;
}

.friends-main-aside ul a span {
    display: flex;
    align-items: center;
    color: #b0b0b0;
    gap: 6px;
}

.friends-main-aside ul a:hover {
    background: #101010;
}

.friends-main-aside ul a:hover span {
    color: var(--light-color);
}

.friends-main-aside ul a.active {
    background: var(--dark-color);
}

.friends-main-aside ul a.active span {
    color: var(--light-color);
}


/* my friends */
.friends-main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.friends-main-header-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.friends-main-header-title h1 {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    gap: 10px;
}

.friends-main-header-title div {
    display: flex;
    width: 60px;
    height: 2.5px;
    background: var(--light-color);
}

.friends-main-header-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.friends-main-header-actions a {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    height: 33px;
    font-size: 0.8rem;
    gap: 7px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--gray-color);
    transition: var(--transition-2s);
}

.friends-main-header-actions a:hover {
    background: var(--light-color);
    color: var(--black);
    box-shadow: 0 0 10px #ffffff3c;
}

.friends-main-header-search {
    display: flex;
    height: 33px;
}

.friends-main-header-search div {
    display: flex;
    align-items: center;
    padding: 0 7px;
    gap: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.friends-main-header-search div input {
    display: flex;
    width: 200px;
    border: none;
    outline: none;
    color: var(--light-color);
    font-size: 0.85rem;
    font-weight: 300;
    background: transparent;
}

.friends-header-status h1 {
    margin-top: 30px;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--gray-color);
}

.friends-grid {
    display: grid;
    width: 935px;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 0;
    gap: 15px;
}

.friend-card {
    display: flex;
    align-items: center;
    border: 1px solid #040404;
    border-radius: 2px;
    overflow: hidden;
    background: #0b0b0b;
    width: 300px;
    opacity: 0.8;
    transition: var(--transition-2s);
    cursor: pointer;
}

.friend-card:hover {
    opacity: 1;
    transform: scale(1.02);
}

.friend-card:hover .friend-remove-btn {
    opacity: 1;
}

.friend-card.online,
.playing {
    opacity: 1;
}

.friend-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 1px solid var(--border-color);
}

.friend-img img {
    display: flex;
    width: 50px;
    height: 50px;
}

.friend-card div {
    display: flex;
    width: 3px;
    height: 50px;
    background: #969696;
}

.friend-card.playing div {
    background: #2db42a;
}

.friend-card.online div {
    background: #47ade4;
}

.friend-card-content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    color: #969696;
}

.friend-remove-btn {
    opacity: 0;
    display: flex;
    padding: 5px;
    border-radius: 4px;
    transition: var(--transition-2s);
}

.friend-remove-btn:hover {
    background: #181818;
}

.friend-card-content.playing {
    color: #2db42a;
}

.friend-card-content.online {
    color: #47ade4;
}

.friend-card-content h1 {
    font-size: 0.9rem;
    font-weight: 400;
}

.friend-card-content h2 {
    font-size: 0.85rem;
    font-weight: 500;
    width: 195px;
    text-overflow: ellipsis;
}


/* add friend */
.add-friends-main {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #080808;
    border-radius: 5px;
    overflow: hidden;
}

.add-friends-main-header {
    display: flex;
    width: 935px;
    padding: 7px 15px;
    background: #0e0e0e;
}

.add-friends-main-header h1 {
    font-size: 1rem;
    font-weight: 400;
}

.add-friends-main-header input {
    display: flex;
}

.add-friend-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-friend-content h1 {
    font-size: 0.85rem;
    font-weight: 400;
    color: #c3c3c3;
}

.add-friend-content p {
    margin-top: 10px;
    display: flex;
    width: 890px;
    font-size: 0.8rem;
    font-weight: 200;
    color: var(--gray-color);
}

.add-friend-content input {
    display: flex;
    padding: 0 10px;
    width: 450px;
    height: 40px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background: var(--background-card);
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--light-color);
}

.add-friend-list {
    position: absolute;
    margin-top: 2px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: fit-content;
    max-height: 150px;
    padding: 5px;
    overflow-y: auto;
    background: #0e0e0e;
    border-radius: 0 0 7px 7px;
    gap: 10px;
}

.add-friend-list::-webkit-scrollbar {
    display: flex;
    width: 3px;
}

.add-friend-list::-webkit-scrollbar-thumb {
    background: var(--dark-color);
    border-radius: 50px;
}

.add-friend-list hr {
    border: 1px solid var(--dark-color);
}

.add-friend-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    cursor: pointer;
}

.add-friend-card:hover {
    background: var(--dark-color);
}

.add-friend-card div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.add-friend-card div img {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 2px;
}

.add-friend-card button {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: transparent;
    border: none;
    border-radius: 4px;
    transition: var(--transition-2s);
    color: var(--gray-color);
    cursor: pointer;
}

.add-friend-card button:hover {
    color: var(--light-color);
    background: #202020;
}

.add-friend-bycode {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #060606;
}

.friend-code {
    margin: 10px 0 15px;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 4px;
    background: #0e0e0e;
    gap: 250px;
}

.friend-code h2 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--light-color);
}

.friend-code button {
    cursor: pointer;
    border: none;
    background: transparent;
    color: var(--gray-color);
}

.add-friend-bycode input {
    margin-top: 15px;
}

.add-friend-byusername {
    padding: 20px;
}

.add-friend-byusername input {
    margin-top: 5px;
}

/* invitations */
.invitations-main {
    display: flex;
    flex-direction: column;
    width: 935px;
    gap: 30px;
}

.invitations-sec {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.invitations-sec-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 15px;
    background: #0e0e0e;
    border-radius: 5px 5px 0 0;
}

.invitations-sec-header h1 {
    font-size: 1rem;
    font-weight: 400;
}

.invitations-sec-header button {
    display: flex;
    padding: 2px 10px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background: transparent;
    font-size: 0.8rem;
    color: var(--gray-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.invitations-sec-header button:hover {
    color: var(--light-color);
}

.invitations {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: #060606;
}

.no-invitations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    gap: 10px;
    color: var(--gray-color);
}

.no-invitations p {
    font-size: 0.9rem;
    font-weight: 300;
}

.friends-empty {
    font-size: 0.85rem;
    font-weight: 200;
    color: #454545;
}

.invitations-card {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 3px;
    justify-content: space-between;
    padding: 0 10px 0 0;
    color: var(--light-color);
}

.invitations-card:hover {
    background: var(--dark-color);
}

.invitations-card div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.invitations-card div img {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 2px;
}

.invitations-card div h1 {
    font-size: 0.9rem;
    font-weight: 400;
}

.invitations-card-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.invitations-card-btns button {
    display: flex;
    padding: 5px;
    border: 1px solid #468d38;
    border-radius: 4px;
    background: transparent;
    color: #44cf44;
    cursor: pointer;
    transition: var(--transition-2s);
}

.invitations-card-btns button:hover {
    color: #52eb52;
    border-color: #5fc04c;
    background: #051c00;
}

.invitations-card-btns button.recuse {
    border-color: #8d3838;
    color: #cf4444;
}

.invitations-card-btns button.recuse:hover {
    border-color: #c04c4c;
    color: #eb5252;
    background: #1c0000;
}

@media (width < 720px) {
    .friends-main-content {
        width: 100vw;
        gap: 10px;
    }

    .friends-ctn {
        flex-direction: column;
        justify-content: start;
        gap: 15px;
    }


    /* banner user */
    .friends-main-me {
        padding: 15px;
    }

    .friends-main-me img {
        width: 50px;
        height: 50px;
    }

    .friends-main-me a {
        font-size: 1rem;
    }


    /* aside nav */
    .friends-main-aside {
        position: relative;
        top: 0;
        flex-direction: initial;
        width: 100vw;
        padding: 0 10px;
        overflow: auto;
    }

    .friends-main-aside::-webkit-scrollbar {
        display: none;
    }

    .friends-main-aside h1 {
        display: none;
    }

    .friends-main-aside ul {
        flex-direction: initial;
        gap: 5px;
    }

    .friends-main-aside ul a {
        width: max-content;
        padding: 6px 10px;
        gap: 15px;
    }

    .friends-main-aside ul a:hover {
        background: transparent;
        color: #454545;
    }

    .friends-main-aside ul a.active {
        background: #0b0b0b;
    }

    .friends-content {
        padding: 15px;
    }

    /* my friends */
    .friends-main-header {
        flex-direction: column;
        gap: 15px;
    }

    .friends-main-header-actions {
        justify-content: end;
    }

    .friends-main-header-actions a:last-child {
        display: none;
    }

    .friends-grid {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    .friend-card {
        width: 100%;
    }

    .friend-remove-btn {
        opacity: 1;
        margin-left: auto;
        margin-right: 10px;
    }

    /* add friend */
    .add-friends-main {
        overflow: visible;
    }

    .add-friends-main-header {
        width: 100%;
        border-radius: 5px 5px 0 0;
    }

    .add-friend-content input {
        width: 100%;
    }

    .add-friend-list {
        position: relative;
        margin-top: 2px;
        width: 100%;
        max-height: 150px;
    }

    .add-friend-content p {
        margin-top: 20px;
        width: 100%;
        font-size: 0.7rem;
        font-weight: 100;
        text-align: justify;
    }

    .friend-code {
        justify-content: space-between;
        width: 100%;
        gap: 0px;
    }


    /* invitations */
    .invitations-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .no-invitations p {
        font-size: 0.75rem;
        font-weight: 200;
    }

}