.friends-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.friends-main-content {
    margin: 100px 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    gap: 20px;
}

.friends-ctn {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    min-height: 100vh;
    width: 100%;
    gap: 15px;
}


/* banner user */
.friends-main-me {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background-image: linear-gradient(90deg, #000, #0b0b0b, #000);
    gap: 15px;
}

.friends-main-me img {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 2px;
}

.friends-main-me a {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--light-color);
}


/* aside nav */
.friends-main-aside {
    position: sticky;
    top: 30px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: fit-content;
    gap: 15px;
}

.friends-main-aside h1 {
    display: flex;
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--gray-color);
    gap: 10px;
}

.friends-main-aside ul {
    display: flex;
    flex-direction: column;
}

.friends-main-aside ul a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 8px 10px;
    font-size: 0.86rem;
    border-radius: 5px;
    color: #454545;
    cursor: pointer;
}

.friends-main-aside ul a span{
    display: flex;
    align-items: center;
    color: #b0b0b0;
    gap: 6px;
}

.friends-main-aside ul a:hover {
    background: #101010;
}

.friends-main-aside ul a:hover span{
    color: var(--light-color);
}

.friends-main-aside ul a.active {
    background: var(--dark-color);
}

.friends-main-aside ul a.active span{
    color: var(--light-color);
}

/* Header main */
.friends-main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.friends-main-header-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.friends-main-header-title h1 {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    gap: 10px;
}

.friends-main-header-title div {
    display: flex;
    width: 60px;
    height: 2.5px;
    background: var(--light-color);
}

.friends-main-header-search {
    display: flex;
}

.friends-main-header-search div {
    display: flex;
    align-items: center;
    padding: 0 7px;
    gap: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.friends-main-header-search div input {
    display: flex;
    width: 200px;
    border: none;
    outline: none;
    color: var(--light-color);
    font-size: 0.85rem;
    font-weight: 300;
    background: transparent;
}

.friends-header-status h1 {
    margin-top: 30px;
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--gray-color);
}

.friend-card {
    display: flex;
    align-items: center;
    border: 1px solid #040404;
    border-radius: 2px;
    overflow: hidden;
    background: #0b0b0b;
    width: 300px;
    opacity: 0.8;
    transition: var(--transition-2s);
    cursor: pointer;
}

.friend-card:hover {
    opacity: 1;
    transform: scale(1.02);
}

.friend-card:hover .friend-remove-btn {
    opacity: 1;
}

.friend-card.online,
.playing {
    opacity: 1;
}

.friend-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border: 1px solid var(--border-color);
}

.friend-img img {
    display: flex;
    width: 50px;
    height: 50px;
}

.friend-card div {
    display: flex;
    width: 3px;
    height: 50px;
    background: #969696;
}

.friend-card.playing div {
    display: flex;
    width: 3px;
    height: 50px;
    background: #2db42a;
}

.friend-card.online div {
    display: flex;
    width: 3px;
    height: 50px;
    background: #47ade4;
}

.friend-card-content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    color: #969696;
}

.friend-remove-btn {
    opacity: 0;
    display: flex;
    padding: 5px;
    border-radius: 4px;
    transition: var(--transition-2s);
}

.friend-remove-btn:hover {
    background: #181818;
}

.friend-card-content.playing {
    color: #2db42a;
}

.friend-card-content.online {
    color: #47ade4;
}

.friend-card-content h1 {
    font-size: 0.9rem;
    font-weight: 400;
}

.friend-card-content h2 {
    font-size: 0.85rem;
    font-weight: 500;
    width: 195px;
    text-overflow: ellipsis;
}

.friends-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 0;
    gap: 15px;
}