.game-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-main-content {
    margin: 99px 0 1px;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    min-height: 100vh;
}

.game-header-main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.game-header-breadcrumbs {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.85rem;
    font-weight: 300;
    color: #565656;
}

.game-header-breadcrumbs a {
    color: #767676;
    transition: var(--transition-2s);
}

.game-header-breadcrumbs a:hover {
    color: var(--light-color);
}

.game-header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.game-header-content h1 {
    font-size: 1.7rem;
    font-weight: 400;
}

.game-header-content a {
    display: flex;
    padding: 5px 10px;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    font-size: 0.85rem;
    font-weight: 300;
    color: var(--gray-color);
    background: var(--dark-color);
    transition: var(--transition-2s);
}

.game-header-content a:hover {
    background: #252525;
    color: var(--light-color);
}

.game-ctn-content {
    margin-top: 15px;
    background: #080808;
    border: 1px solid #0b0b0b;
}

.game-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
}

.game-content-carousel {
    display: flex;
    flex-direction: column;
    width: 800px;
    gap: 5px;
}

.game-carousel {
    display: flex;
    width: 100%;
    overflow-x: auto;
    padding: 5px 5px 7px;
    gap: 5px;
}

.game-carousel::-webkit-scrollbar {
    display: flex;
    height: 10px;
}

.game-carousel::-webkit-scrollbar-track {
    background: #101010;
}

.game-carousel::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 2px;
    cursor: pointer;
}

.game-carousel::-webkit-scrollbar-thumb:hover {
    background: #454545;
}

.game-content-carousel-active {
    width: 800px;
    height: 450px;
}

.game-carousel img {
    display: flex;
    width: fit-content;
    height: 65px;
    cursor: pointer;
}

.game-carousel img.active{
    outline: 1.5px solid var(--light-color);
    border: 3px solid #000;
}

.game-content-banner {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.game-content-banner img {
    display: flex;
    width: 100%;
    height: fit-content;
}

.game-content-banner p {
    width: 95%;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--light-color);
}

.game-content-banner table {
    margin-top: 10px;
    font-size: 0.75rem;
    font-weight: 200;
    color: var(--gray-color);
}

.game-content-banner table div {
    margin: 10px 0;
}

.game-content-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
}

.game-content-footer section {
    display: flex;
    gap: 10px;
}

.game-content-footer a {
    display: flex;
    padding: 5px 15px;
    background: var(--dark-color);
    font-size: 0.85rem;
    font-weight: 300;
    color: var(--gray-color);
    border-radius: 3px;
    transition: var(--transition-2s);
}

.game-content-footer a:hover {
    background: #252525;
    color: var(--light-color);
}

.game-download{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #080808;
    border: 1px solid #0b0b0b;
}

.game-download h1{
    font-size: 1.5rem;
    font-weight: 400;
}

.game-download div{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.game-download div select {
    display: flex;
    width: 450px;
    height: 35px;
    padding: 5px;
    color: var(--gray-color);
    border: 1px solid #202020;
    border-radius: 3px;
    background: #080808;
    transition: var(--transition-2s);
    cursor: pointer;
}

.game-download div select:hover{
    border-color: var(--gray-color);
}

.game-download div button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--black);
    background: var(--light-color);
    cursor: pointer;
    transition: var(--transition-2s);
}


.game-download div button:hover{
    background: var(--gray-color);
}

.game-description{
    margin-top: 30px;
    padding: 15px;
    background: #080808;
    border: 1px solid #0b0b0b;
}

.game-description h1{
    font-size: 1rem;
    font-weight: 400;
}

.game-description p{
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--gray-color);
}

.game-specs {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background: #080808;
    border: 1px solid #0b0b0b;
    padding: 15px;
}

.game-specs h1{
    font-size: 1.3rem;
    font-weight: 300;
}

.game-specs table{
    margin-top: 10px;
    cursor: default;
}

.game-specs table {
    width: 100%;
    border-spacing: 0;
    border-radius: 7px;
    overflow: hidden;
    border: 1px solid #0b0b0b;
}

.game-specs thead {
    background-color: #0b0b0b;
}

.game-specs th {
    text-align: left;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #c3c3c3;
}

.game-specs td {
    padding: 12px;
    font-size: 0.85rem;
    color: #767676;
}

.game-specs td span {
    font-weight: 500;
    display: inline-block;
    width: 150px;
    color: #a3a3a3;
}

.game-specs tbody tr:nth-child(even) {
    background-color: #0a0a0a;
}

.game-specs tbody tr:nth-child(odd) {
    background-color: transparent;
}

.game-specs tbody tr:hover {
    background-color: #0c0c0c;
}