.gifts-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gifts-main-content{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}