.gifts-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gifts-main-content {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 100vh;
}

.gifts-main-content-header {
    justify-content: center;
    display: flex;
    gap: 10px;
}

.gifts-main-content-header button {
    display: flex;
    padding: 5px 10px;
    background: var(--background-card);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--gray-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.gifts-main-content-header button:hover {
    box-shadow: 0 0 10px #ffffff25;
    color: var(--light-color);
}

.gifts-main-content h1{
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 500;
}

.gifts-main-content .trace{
    margin-top: 5px;
    display: flex;
    width: 60px;
    height: 2.5px;
    background: var(--light-color);
}