.home-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-main-feed {
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 100vh;
}

.most-popular-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.most-popular-header h1 {
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
}

.most-popular-header div {
    display: flex;
    width: 60px;
    height: 2.5px;
    background: var(--light-color);
}

@media (width < 720px) {
    .home-main-feed {
        width: 100%;
        padding: 0 20px;
    }
}