.home-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-main-feed {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 1200px;
    min-height: 100vh;
}

.most-popular-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.most-popular-header h1 {
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
}

.most-popular-header div {
    display: flex;
    width: 60px;
    height: 2.5px;
    background: var(--light-color);
}

.home-next-btn {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    width: 25px;
    border: none;
    border-radius: 1px;
    color: var(--gray-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.home-next-btn.l {
    background: linear-gradient(-90deg, #2b2b2b2b, #101010);
}

.home-next-btn.r {
    background: linear-gradient(90deg, #2b2b2b2b, #101010);
}

.home-next-btn:hover{
    opacity: 0.9;
    color: var(--light-color);
}

.most-popular-content {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.most-popular-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card-game-main {
    display: flex;
    gap: 10px;
    width: 545px;
    height: 285px;
    border: 1px solid var(--dark-color);
    background: var(--background-card);
    border-radius: 4px;
    overflow: hidden;
    transition: var(--transition-2s);
    cursor: pointer;
}

.card-game-main:hover {
    transform: scale(1.01);
    background: #0b0b0b;
}

.card-game-main:hover img {
    transform: scale(1.05);
}

.card-game-main img {
    display: flex;
    width: 225px;
    height: fit-content;
    box-shadow: 5px 0 15px #040404;
    transition: var(--transition-2s);
}

.card-game-main-content {
    padding: 10px 10px 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-game-main-content h1 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--light-color);
}

.card-game-main-content div {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card-game-main-content div h2 {
    font-size: 0.65rem;
    font-weight: 300;
    padding: 1px 7px;
    background: #1e1e1e;
    border-radius: 3px;
    color: #c3c3c3;
}

.card-game-main-content p {
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 200;
    color: #d9d9d9;
}

.card-game-main-footer {
    margin-top: auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card-game-main-footer div {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    color: var(--gray-color);
    gap: 5px;
}

.card-game-main-footer button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    gap: 10px;
    font-size: 0.85rem;
    color: var(--black);
    border: none;
    border-radius: 4px;
    background: var(--light-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.card-game-main-footer button:hover {
    background: #b3b3b3;
}

.most-popular-dots {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 7px;
}

.most-popular-dots div {
    display: flex;
    width: 15px;
    height: 10px;
    border: 1px solid #181818;
    border-radius: 2px;
    background: #0b0b0b;
    cursor: pointer;
}

.most-popular-dots div.active {
    background: #1e1e1e;
}

.most-popular-in-library {
    margin-top: 6px;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 5px;
    height: 25px;
    font-size: 0.7rem;
    font-weight: 400;
    color: var(--light-color);
    background: #234567;
    gap: 5px;
    overflow: hidden;
    transition: var(--transition-2s);
}


.most-popular-in-library:hover {
    background: #1a344d;
}









@media (width < 720px) {
    .home-main-feed {
        width: 100%;
        padding: 0 20px;
    }
}