@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 0;
  text-decoration: none;
}

:root {
  --primary-color: #006efe;
  --light-color: #f5f5f5;
  --black: #000;
  --dark-color: #151515;
  --gray-color: #b3b3b3;
  --background: #000000;
  --background-card: #080808;
  --border-color: #202020;
  --danger-color: #ae3939;
  --shadow: #00000061;
  --border: 8px;
  --transition-2s: all 0.2s ease;
  --transition-3s: all 0.3s ease;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #000;
  background-image: url('https://anonymousai-hub.github.io/DB/img/bg-snakr.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--light-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: flex;
  width: 5px;
  background: var(--background-card);
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #0f0f0f;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  padding: 130px 0 0 0;
  gap: 20px;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    background-position: 0 0;
    opacity: 0.4;
  }
}

/* Header */
.header-main {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 20px 0 20px;
  gap: 15px;
  border-bottom: 1.5px solid var(--border-color);
  background: var(--background-card);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-content-left img {
  display: flex;
  width: 30px;
}

.header-content-left p {
  color: #252525;
}

.header-content-left h2 {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--light-color);
  transition: var(--transition-2s);
}

.header-content-left a:hover {
  color: var(--light-color);
}

.header-content-right {
  display: flex;
  gap: 10px;
}

.header-content-right a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  font-size: 0.8rem;
  color: var(--gray-color);
  border: 1px solid #252525;
  border-radius: 50%;
  transition: var(--transition-2s);
}

.header-content-right a:hover {
  border-color: var(--light-color);
  color: var(--light-color);
}

.header-main nav {
  display: flex;
  padding: 5px 0 0 0;
}

.header-main nav ul {
  display: flex;
}

.header-main nav ul a {
  display: flex;
  width: fit-content;
  padding: 0px 10px 10px 10px;
  font-size: 0.9rem;
  color: #969696;
  transition: var(--transition-2s);
}

.header-main nav ul a:hover {
  color: var(--light-color);
}

.header-main nav ul a.active {
  color: var(--light-color);
  border-bottom: 1.5px solid var(--light-color);
}

.header-main-scrolled {
  padding: 0 20px;
  gap: 0;
  align-items: center;
  flex-direction: initial;
}

.header-main-scrolled .header-content-left {
  gap: 0;
}

.header-main-scrolled .header-content-left img {
  width: 25px;
}

.header-main-scrolled .header-content-left p {
  display: none;
}

.header-main-scrolled .header-content-left h2 {
  display: none;
}

.header-main-scrolled .header-content-right {
  display: none;
}

.header-main-scrolled nav {
  padding: 0 10px;
}

.header-main-scrolled nav ul a {
  padding: 12px;
}

/* Footer */
.footer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 20px;
  background: var(--background-card);
  border-top: 1.5px solid var(--border-color);
}

.footer-nav {
  display: flex;
  gap: 12px;
}

.footer-nav img {
  display: flex;
  width: 30px;
}

.footer-nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-nav a {
  font-size: 0.85rem;
  color: var(--gray-color);
  transition: var(--transition-2s);
}

.footer-nav a:hover {
  color: var(--light-color);
}

.btn-system-status {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  border-radius: 4px;
  gap: 10px;
  cursor: pointer;
  transition: var(--transition-2s);
}

.btn-system-status:hover {
  background: var(--dark-color);
}

.btn-system-status div {
  display: flex;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--primary-color);
}

.btn-system-status h1 {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--primary-color);
}













/* error */
.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.error-page header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.error-page header img {
  display: flex;
  width: 75px;
}

.error-page header a {
  font-size: 0.85rem;
  color: var(--gray-color);
}

.error-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-page-content h1 {
  font-size: 1.6rem;
}

.error-page-content img {
  margin: 30px 0;
  display: flex;
  width: 200px;
}

.error-page-content p {
  text-align: center;
  font-size: 0.9rem;
  color: var(--gray-color);
}

.error-page-btns {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.error-page-btns a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-color);
  transition: var(--transition-2s);
}

.error-page-btns a:hover {
  border-color: var(--light-color);
  background: var(--light-color);
  color: var(--background);
  box-shadow: 0 0 10px 0 #ffffff35;
}

.error-page-btns a:first-child {
  border-color: var(--light-color);
  background: var(--light-color);
  color: var(--background);
  box-shadow: 0 0 10px 0 #ffffff35;
}

.error-page-btns a:first-child:hover{
  border-color: var(--gray-color);
  background: var(--gray-color);
}