@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 0;
  text-decoration: none;
}

:root {
  --primary-color: #006efe;
  --light-color: #f5f5f5;
  --black: #000;
  --dark-color: #151515;
  --gray-color: #969696;
  --background: #000000;
  --background-card: #080808;
  --border-color: #202020;
  --danger-color: #ae3939;
  --shadow: #ffffff0e;
  --border: 8px;
  --transition-2s: all 0.2s ease;
  --transition-3s: all 0.3s ease;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #000;
  background-image: url('https://anonymousai-hub.github.io/DB/img/bg-snakr.png');
  background-size: cover;
  background-repeat: repeat-y;
  color: var(--light-color);
  overflow-y: auto;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: flex;
  width: 5px;
  background: var(--background-card);
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #0f0f0f;
  cursor: pointer;
}

@keyframes skeleton {
  0% {
    background-position: 100% 0;
    opacity: 0.5;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    background-position: 0 0;
    opacity: 0.5;
  }
}

@keyframes loop {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.content {
  display: flex;
  justify-content: center;
  padding: 130px 0 0 0;
  gap: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #676767;
  border-radius: 50px;
  transition: var(--transition-2s);
}

.slider::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 1.5px;
  bottom: 1.5px;
  background-color: var(--light-color);
  border-radius: 50%;
  transition: transform 0.25s;
}

input:checked+.slider {
  background-color: var(--primary-color);
}

input:checked+.slider::before {
  transform: translateX(15px);
}

.skeleton-main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg,
      #000000 25%,
      #0f0f0f 37%,
      #000000 63%);
  background-size: 400% 100%;
  animation: skeleton 1.5s infinite linear;
}

.skeleton-header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100px;
  background: var(--background-card);
  border-bottom: 1.5px solid var(--border-color);
}

.modal-confirm-ctn {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.modal-confirm {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: fit-content;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: var(--border);
  background: var(--background-card);
  box-shadow: 0 0 10px 0 #00000050;
}

.modal-confirm-content {
  display: flex;
  flex-direction: column;
}

.modal-confirm-content h1 {
  font-size: 1.3rem;
  font-weight: 500;
}

.modal-confirm-content h2 {
  margin-top: 15px;
  font-size: 1.05rem;
  font-weight: 500;
}

.modal-confirm-content h3 {
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--gray-color);
}

.modal-confirm-btn {
  display: flex;
  justify-content: end;
  gap: 15px;
}

.modal-confirm-btn button {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 15px;
  border: 1px solid var(--border-color);
  border-radius: 50px;
  background: transparent;
  font-size: 0.9rem;
  color: var(--light-color);
  cursor: pointer;
  transition: var(--transition-2s);
}

.modal-confirm-btn button:hover {
  background: var(--dark-color);
}

.modal-confirm-btn button.active {
  background: #dd1f1f;
}

.modal-confirm-btn button.active:hover {
  background: #a41818;
}

/* Header */
.header-main {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 20px 0 20px;
  gap: 15px;
  border-bottom: 1.5px solid var(--border-color);
  background: var(--background-card);
  cursor: default;
  z-index: 1;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-content-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-content-left img {
  display: flex;
  width: 30px;
  height: 30px;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 10px;
}

.breadcrumb p {
  color: #252525;
}

.breadcrumb h2 {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--light-color);
  transition: var(--transition-2s);
}

.header-content-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  display: flex;
  align-items: center;
  border: 1px solid #252525;
  border-radius: 5px;
  padding: 0 5px;
  height: 30px;
  gap: 7px;
}

.search-input button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--gray-color);
  cursor: pointer;
  transition: var(--transition-2s);
}

.search-input button:hover {
  color: var(--light-color);
}

.search-input input {
  display: flex;
  background: none;
  border: none;
  outline: none;
  color: var(--light-color);
  font-size: 0.85rem;
  font-weight: 200;
}

.search-games {
  display: none;
  margin-top: 10px;
  position: absolute;
  width: 310px;
  height: 330px;
  border: 1px solid #252525;
  border-radius: var(--border);
  background: var(--background-card);
  overflow: auto;
  padding: 5px;
}

.search-games::-webkit-scrollbar {
  display: flex;
  width: 5px;
}

.search-games::-webkit-scrollbar-thumb {
  background: #0f0f0f;
  border-radius: 20px;
  cursor: pointer;
  transition: var(--transition-2s);
}

.search-games::-webkit-scrollbar-thumb:hover {
  background: var(--dark-color);
}

.search-games .hr {
  display: flex;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--dark-color);
}

.search-games-card {
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 10px 7px;
  border-radius: 1px;
  overflow: hidden;
  cursor: pointer;
  gap: 10px;
  transition: var(--transition-2s);
}

.search-games-card:hover {
  background: #0e0e0e;
}

.search-games-card img {
  display: flex;
  max-width: fit-content;
  height: 50px;
  border-radius: 2px;
}

.search-games-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-games-card-content h1 {
  font-size: 0.9rem;
  font-weight: 600;
}

.search-games-card-categories {
  display: flex;
  gap: 7px;
}

.search-games-card-categories p {
  display: flex;
  padding: 0 7px;
  border: 1px solid var(--dark-color);
  border-radius: 4px;
  font-size: 0.6rem;
  font-weight: 300;
  color: var(--gray-color);
}

.header-content-right a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 0.85rem;
  color: var(--gray-color);
  border: 1px solid #252525;
  border-radius: 50%;
  transition: var(--transition-2s);
  overflow: hidden;
}

.header-content-right a:hover {
  border-color: var(--light-color);
  color: var(--light-color);
}

.header-content-right img {
  display: flex;
  width: 100%;
}

.notification-count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  margin-top: -25px;
  margin-left: 22px;
  background: var(--black);
  border: 1px solid var(--border-color);
  border-radius: 50px;
  font-size: 0.6rem;
}

.header-main nav {
  display: flex;
  padding: 5px 0 0 0;
}

.header-main nav ul {
  display: flex;
}

.header-main nav ul a {
  display: flex;
  width: fit-content;
  padding: 0px 10px 10px 10px;
  border-bottom: 1.5px solid transparent;
  font-size: 0.9rem;
  color: var(--gray-color);
  transition: var(--transition-2s);
}

.header-main nav ul a:hover {
  color: var(--light-color);
}

.header-main nav ul a.active {
  color: var(--light-color);
  border-color: var(--light-color);
}

.header-main-scrolled {
  padding: 0 20px;
  gap: 0;
  align-items: center;
  flex-direction: initial;
  z-index: 2;
}

.header-main-scrolled .header-content-left {
  gap: 0;
}

.header-main-scrolled .header-content-left img {
  width: 25px;
}

.header-main-scrolled .header-content-left p {
  display: none;
}

.header-main-scrolled .header-content-left h2 {
  display: none;
}

.header-main-scrolled .header-content-right {
  display: none;
}

.header-main-scrolled nav {
  padding: 0 10px;
}

.header-main-scrolled nav ul a {
  padding: 12px;
}

/* modal profile */
.modal-profile {
  position: fixed;
  top: 55px;
  right: 15px;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding-bottom: 5px;
  background: var(--background-card);
  border: 1px solid var(--border-color);
  border-radius: var(--border);
  overflow: hidden;
}

.modal-profile-info {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.modal-profile-info img {
  display: flex;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.modal-profile-info h1 {
  display: flex;
  width: 150px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--light-color);
  overflow: hidden;
}

.modal-profile-info h2 {
  margin-top: -3px;
  display: flex;
  width: 150px;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--gray-color);
  overflow: hidden;
}

.modal-profile-info i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 0.9rem;
  color: var(--gray-color);
  box-shadow: -15px 0px 10px 5px var(--background-card);
}


.modal-profile-btns {
  display: flex;
  flex-direction: column;
}

.modal-profile-btns hr {
  display: flex;
  margin: 5px 0;
  border: 1px solid var(--border-color);
}

.modal-profile-btns a {
  margin: 0 5px;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 7px 10px;
  font-size: 0.85rem;
  border-radius: var(--border);
  color: var(--light-color);
  cursor: pointer;
}

.modal-profile-btns a:hover {
  background: var(--dark-color);
}

.modal-profile-btns .active,
.modal-profile-btns .active i {
  color: #ca5555;
}

.modal-profile-btns a i {
  color: #828282;
}


/* Footer */
.footer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 20px;
  background: var(--background-card);
  border-top: 1.5px solid var(--border-color);
  z-index: 1;
}

.footer-nav {
  display: flex;
  gap: 12px;
}

.footer-nav img {
  display: flex;
  width: 30px;
}

.footer-nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-nav a {
  font-size: 0.85rem;
  color: var(--gray-color);
  transition: var(--transition-2s);
}

.footer-nav a:hover {
  color: var(--light-color);
}

.btn-system-status {
  display: flex;
  align-items: center;
  padding: 4px 10px;
  border-radius: 4px;
  gap: 10px;
  cursor: pointer;
  transition: var(--transition-2s);
}

.btn-system-status:hover {
  background: var(--dark-color);
}

.btn-system-status div {
  display: flex;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--primary-color);
}

.btn-system-status h1 {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--primary-color);
}













/* error */
.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.error-page header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.error-page header img {
  display: flex;
  width: 75px;
}

.error-page header a {
  font-size: 0.85rem;
  color: var(--gray-color);
}

.error-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-page-content h1 {
  font-size: 1.6rem;
}

.error-page-content img {
  margin: 30px 0;
  display: flex;
  width: 200px;
}

.error-page-content p {
  text-align: center;
  font-size: 0.9rem;
  color: var(--gray-color);
}

.error-page-btns {
  margin-top: 20px;
  display: flex;
  gap: 30px;
}

.error-page-btns a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-color);
  transition: var(--transition-2s);
}

.error-page-btns a:hover {
  border-color: var(--light-color);
  background: var(--light-color);
  color: var(--background);
  box-shadow: 0 0 10px 0 #ffffff35;
}

.error-page-btns a:first-child {
  border-color: var(--light-color);
  background: var(--light-color);
  color: var(--background);
  box-shadow: 0 0 10px 0 #ffffff35;
}

.error-page-btns a:first-child:hover {
  border-color: var(--gray-color);
  background: var(--gray-color);
}

@media (width < 720px) {

  /* Header */
  .header-main {
    width: 100vw;
    padding: 15px 15px 0 15px;
  }

  .header-content-left img {
    display: flex;
    width: 30px;
  }

  .breadcrumb h2 {
    width: max-content;
    max-width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .breadcrumb.no-login h2 {
    max-width: unset;
    overflow: unset;
    text-overflow: unset;
  }

  .search-input {
    width: 120px;
    overflow: hidden;
  }

  .search-games {
    right: 15px;
    width: 300px;
    height: 300px;
  }

  .header-content-right a:hover {
    border-color: #252525;
    color: var(--gray-color);
  }

  .header-content-right a:active {
    border-color: var(--light-color);
    color: var(--light-color);
  }

  .header-main nav {
    width: 100%;
    overflow: auto;
    padding: 5px 0px 0 0px;
  }

  .header-main nav::-webkit-scrollbar {
    display: flex;
    height: 0;
  }

  .header-main nav ul a {
    width: max-content;
  }

  .header-main nav ul a:hover {
    color: var(--gray-color);
  }

  .header-main nav ul a:active {
    color: var(--light-color);
  }

  .header-main nav ul a.active {
    color: var(--light-color);
    border-color: var(--light-color);
  }

  .header-main-scrolled {
    padding: 0 15px;
    gap: 10px;
  }

  .header-main-scrolled nav {
    padding: 0;
  }



  /* Footer */
  .footer-main {
    padding: 15px;
  }

  .footer-nav {
    display: flex;
    width: 250px;
    align-items: center;
    padding: 0 15px 0 0;
    overflow: auto;
    gap: 12px;
  }

  .footer-nav::-webkit-scrollbar {
    display: flex;
    height: 0;
  }

  .footer-nav a {
    width: max-content;
  }

  .footer-nav a:hover {
    color: var(--gray-color);
  }

  .footer-nav a:active {
    color: var(--light-color);
  }

  .btn-system-status {
    box-shadow: -15px 0 10px var(--background-card);
  }

  .btn-system-status h1 {
    white-space: nowrap;
  }

  .btn-system-status:hover {
    background: var(--background-card);
  }

  .btn-system-status:active {
    background: var(--gray-color);
  }
}