.library-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.library-main-content{
    margin: 130px 0 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    min-height: 100vh;
}

.library-main-header {
    display: flex;
    align-items: end;
    width: 100%;
    gap: 15px;
}

.library-main-header-content{
    display: flex;
    width: 100%;
    gap: 10px;
    border-bottom: 1px solid var(--dark-color);
}

.library-main-header-content h1{
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-color);
}

.library-main-header a{
    display: flex;
    min-width: max-content;
    padding: 7px 15px;
    border-bottom: 1.5px solid transparent;
    font-size: 0.85rem;
    color: var(--gray-color);
}

.library-main-header a.active{
    color: var(--light-color);
    border-color: var(--light-color);
}

.library-main-header a:hover{
    color: var(--light-color);
}

.library-main-header button{
    display: flex;
    min-width: max-content;
    padding: 7px 10px;
    border: 1px solid var(--dark-color);
    border-radius: 3px;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--gray-color);
    background: transparent;
    cursor: pointer;
    transition: var(--transition-2s);
}

.library-main-header button:hover{
    background: var(--dark-color);
    color: var(--light-color);
}