.news-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 100vh;
}

.news-content-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.news-content-header h1 {
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
}

.news-content-header div {
    display: flex;
    width: 60px;
    height: 2.5px;
    background: var(--light-color);
}

.news-content-scrool-date{
    margin-top: 20px;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--gray-color);
}