.notifications-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notifications-content {
    margin: 130px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    min-height: 80vh;
}

.notifications-content-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 15px;
}

.notifications-content-header-left {
    display: flex;
    width: 100%;
    gap: 20px;
    border-bottom: 1px solid var(--border-color);
}

.notifications-content-header-left button{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: none;
    background: transparent;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--gray-color);
    transition: var(--transition-2s);
    cursor: pointer;
    gap: 7px;
}

.notifications-content-header-left button:hover{
    color: #c3c3c3;
}

.notifications-content-header-left button span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #1e1e1e;
}

.notifications-content-header-left button.active{
    color: var(--light-color);
    border-bottom: 1.5px solid var(--light-color);
}

.notifications-content-header-right{
    display: flex;
    gap: 20px;
    width: fit-content;
}

.notifications-content-header-right button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 8px 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background: var(--black);
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--gray-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.notifications-content-header-right button:hover{
    border-color: #303030;
    color: var(--light-color);
    background: #0f0f0fb3;
}