.notifications-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notifications-content {
    margin: 130px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    min-height: 80vh;
}

.notifications-content-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;
    gap: 15px;
}

.notifications-content-header-left {
    display: flex;
    width: 100%;
    gap: 20px;
    border-bottom: 1px solid var(--border-color);
}

.notifications-content-header-left button {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: none;
    border-bottom: 2px solid transparent;
    background: transparent;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--gray-color);
    transition: var(--transition-2s);
    cursor: pointer;
    gap: 7px;
}

.notifications-content-header-left button:hover {
    color: #c3c3c3;
}

.notifications-content-header-left button span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #1e1e1e;
}

.notifications-content-header-left button.active {
    color: var(--light-color);
    border-bottom: 2px solid var(--light-color);
}

.notifications-content-header-right {
    display: flex;
    gap: 20px;
    width: fit-content;
}

.notifications-content-header-right button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding: 9px 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background: var(--black);
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--gray-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.notifications-content-header-right button:hover {
    border-color: #303030;
    color: var(--light-color);
    background: #0f0f0fb3;
}

.notifications-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    gap: 10px;
}

.no-notifications {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
    gap: 15px;
    color: var(--gray-color);
}

.no-notifications p {
    font-size: 1rem;
    font-weight: 300;
}

.notification {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #0b0b0b;
    border: 1px solid var(--border-color);
    border-radius: var(--border);
    overflow: hidden;
    cursor: default;
    transition: var(--transition-2s);
}

.notification:hover {
    background: #0b0b0ba6;
}

.notification.read {
    opacity: 0.6;
}

.notification.read div {
    display: none;
}

.notification.read:hover {
    opacity: 0.8;
}

.notification-left {
    display: flex;
    align-items: center;
}

.notification-left div {
    display: flex;
    width: 4px;
    height: 100%;
    background: var(--light-color);
    box-shadow: 0 0 15px #f5f5f57d;
}

.notification-left-content {
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding: 13px 0;
    gap: 20px;
}

.notification-left-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    min-height: 50px;
    background: var(--dark-color);
    border-radius: var(--border);
    font-size: 1.5rem;
}

.notification-left-content h1 {
    font-size: 1rem;
    font-weight: 600;
}

.notification-left-content h2 {
    font-size: 0.85rem;
    font-weight: 400;
}

.notification-left-content p {
    margin-top: 2px;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 300;
    gap: 5px;
    color: var(--gray-color);
}

.notification-right {
    display: flex;
    padding: 10px;
}

.notification-right button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 4px;
    background: transparent;
    font-size: 0.8rem;
    color: var(--gray-color);
    cursor: pointer;
}

.notification-right button:hover {
    background: #1e1e1e;
}

@media (width < 720px) {

    .notifications-main {
        width: 100vw;
    }

    .notifications-content {
        margin: 115px 0 0;
        width: 100%;
        min-height: 100vh;
    }

    .notifications-content-header {
        justify-content: space-between;
        padding: 0 15px;
    }

    .notifications-content-header-left {
        gap: 10px;
    }

    .notifications-content-header-right {
        gap: 10px;
    }

    .notification {
        border: 1px solid var(--border-color);
        border-radius: 0;
    }

    .notification-left div {
        width: 3px;
        box-shadow: 0 0 15px #f5f5f552;
    }

    .notification-left-content {
        margin-left: 20px;
        padding: 10px 15px 10px 0px;
        gap: 20px;
    }

    .notification-left-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 50px;
        min-height: 50px;
        background: var(--dark-color);
        border-radius: var(--border);
        font-size: 1.5rem;
    }

    .notification-left-content h1 {
        font-size: 0.95rem;
    }

    .notification-left-content h2 {
        font-size: 0.8rem;
        font-weight: 200;
    }

    .notification-right {
        display: none;
    }
}