.password-reset-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 15px 20px;
}

.password-reset-main-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.password-reset-main-header img {
    display: flex;
    height: 30px;
}

.password-reset-main-header-btns {
    display: flex;
    gap: 10px;
}

.password-reset-main-header-btns a {
    display: flex;
    padding: 5px 15px;
    border: 1px solid var(--dark-color);
    border-radius: 50px;
    font-size: 0.85rem;
    color: var(--gray-color);
    background: transparent;
    cursor: pointer;
    transition: var(--transition-2s);
}

.password-reset-main-header-btns a:hover {
    color: var(--light-color);
    border-color: #3c3c3c;
}

.password-reset-main-header-btns a.active {
    background: var(--light-color);
    color: var(--black);
    transition: var(--transition-3s);
}

.password-reset-main-header-btns a.active:hover {
    box-shadow: 0 0 15px #ffffff65;
}

.password-reset-main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.password-reset-main-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 20px;
    border: 1px solid var(--border-color);
    border-radius: var(--border);
    background: var(--background-card);
    box-shadow: 0 0 10px var(--dark-color);
    gap: 20px;
}

.password-reset-main-card h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

.password-input-wrapper {
    display: flex;
    width: 100%;
}

.password-input-wrapper i {
    position: absolute;
    margin-top: 14px;
    margin-left: 325px;
    cursor: pointer;
    color: var(--gray-color);
}

.password-reset-main-card input {
    display: flex;
    width: 100%;
    padding: 12px 10px;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    background: var(--dark-color);
    font-size: 1rem;
    color: var(--light-color);
}

.password-reset-main-card p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--gray-color);
}

.password-reset-main-card-btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.password-reset-main-card-btns button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 15px;
    border-radius: 50px;
    border: none;
    background: transparent;
    font-size: 1rem;
    font-weight: 550;
    color: var(--gray-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.password-reset-main-card-btns button:hover {
    color: var(--light-color);
    text-decoration: underline;
}

.password-reset-main-card-btns button.active {
    text-decoration: none;
    background: var(--gray-color);
    color: var(--black);
}

.password-reset-main-card-btns button.active:hover {
    background: var(--light-color);
    box-shadow: 0 0 15px #ffffff65;
}

.password-reset-main-footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.password-reset-main-footer div {
    display: flex;
    align-items: center;
    gap: 3px;
}

.password-reset-main-footer div img {
    display: flex;
    height: 20px;
}

.password-reset-main-footer div p {
    font-size: 0.75rem;
    font-weight: 200;
    color: #cbcbcb;
}

.password-reset-main-footer ul {
    display: flex;
    gap: 20px;
}

.password-reset-main-footer ul a {
    font-size: 0.85rem;
    font-weight: 300;
    color: var(--gray-color);
    transition: var(--transition-2s);
}

.password-reset-main-footer ul a:hover {
    color: var(--light-color);
}

.password-strength {
    display: flex;
    gap: 7px;
    margin: -10px 0 5px;
}

.strength-box {
    width: 100%;
    height: 4px;
    border-radius: 999px;
    background: #1f1f1f;
    opacity: 0.4;
    transition: background 0.25s ease, opacity 0.25s ease;
}

.strength-box.active {
    opacity: 1;
}

.strength-box:nth-child(1).active,
.strength-box:nth-child(2).active {
    background: #ef4444;
}

.strength-box:nth-child(3).active,
.strength-box:nth-child(4).active {
    background: #f97316;
}

.strength-box:nth-child(5).active,
.strength-box:nth-child(6).active {
    background: #22c55e;
}

.password-error {
    position: absolute;
    margin-top: 370px;
    margin: 360px 0 0 100px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #ef4444;
}

@media (width < 720px) {
    .password-reset-main-card {
        width: 100%;
    }

    .password-reset-main-card-btns button:hover {
        color: var(--gray-color);
        text-decoration: none;
    }

    .password-reset-main-card-btns button:active {
        color: var(--light-color);
        text-decoration: underline;
    }

    .password-reset-main-card-btns button.active:hover {
        background: var(--gray-color);
        color: var(--black);
        box-shadow: none;
    }

    .password-reset-main-card-btns button.active:active {
        text-decoration: none;
        background: var(--light-color);
        box-shadow: 0 0 15px #ffffff65;
    }

    .password-reset-main-footer {
        bottom: 10px;
        padding: 0 10px;
        flex-direction: column;
    }

    .password-reset-main-footer div img {
        height: 20px;
    }

    .password-reset-main-footer ul {
        display: flex;
        flex-wrap: wrap;
    }

    .password-reset-main-footer ul a {
        width: max-content;
        font-size: 0.53rem;
    }
}