.password-reset-main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 15px 20px;
}

.password-reset-main-header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.password-reset-main-header img{
    display: flex;
    height: 30px;
}

.password-reset-main-header-btns {
    display: flex;
    gap: 10px;
}

.password-reset-main-header-btns a{
    display: flex;
    padding: 5px 15px;
    border: 1px solid var(--dark-color);
    border-radius: 50px;
    font-size: 0.85rem;
    color: var(--gray-color);
    background: transparent;
    cursor: pointer;
    transition: var(--transition-2s);
}

.password-reset-main-header-btns a:hover{
    color: var(--light-color);
    border-color: #3c3c3c;
}

.password-reset-main-header-btns a.active{
    background: var(--light-color);
    color: var(--black);
    transition: var(--transition-3s);
}

.password-reset-main-header-btns a.active:hover{
    box-shadow: 0 0 15px #ffffff65;
}

.password-reset-main-content{
    display: flex;
}




.password-reset-main-footer{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.password-reset-main-footer div{
    display: flex;
    align-items: center;
    gap: 3px;
}

.password-reset-main-footer div img{
    display: flex;
    height: 20px;
}

.password-reset-main-footer div p{
    font-size: 0.75rem;
    font-weight: 200;
    color: #cbcbcb;
}

.password-reset-main-footer ul{
    display: flex;
    gap: 20px;
}

.password-reset-main-footer ul a{
    font-size: 0.85rem;
    font-weight: 300;
    color: var(--gray-color);
    transition: var(--transition-2s);
}

.password-reset-main-footer ul a:hover{
    color: var(--light-color);
}