.profile-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(#00000035), var(--background-img);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    overflow-y: auto;
}

.profile-main::-webkit-scrollbar {
    display: flex;
    width: 4px;
}

.profile-main::-webkit-scrollbar-thumb:hover {
    background: #0f0f0f;
    cursor: pointer;
}

.profile {
    margin: 99px 0 -1px;
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1000px;
    height: 100%;
    min-height: 100vh;
    padding: 25px 15px;
    background: #0f0f0fed;
    backdrop-filter: blur(1px);
    border: 1px solid var(--dark-color);
    box-shadow: 0 0 20px 2px #000000e9;
}

.profile-header-ctn {
    display: flex;
    gap: 10px;
}

.profile-header{
    display: flex;
}

.frame {
    position: absolute;
    background-image: var(--background-img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 20px;
    left: 10px;
    width: 208px;
    height: 208px;
    z-index: 2;
}

.profile-header img {
    margin: 15px;
    display: flex;
    width: 170px;
    height: 170px;
    border-radius: 5px;
    border: 1px solid var(--light-color);
    overflow: hidden;
}

.profile-header-content {
    padding: 20px 20px 20px 30px;
    display: flex;
    cursor: default;
}

.profile-header-content div {
    display: flex;
    flex-direction: column;
}

.profile-header-content div h1 {
    font-size: 1.7rem;
    font-weight: 300;
}

.profile-header-content div p {
    margin-top: 10px;
    display: flex;
    width: 400px;
    height: 120px;
    font-size: 0.9rem;
    font-weight: 200;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-content{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}


/* profile collection */

.profile-collection {
    display: flex;
    flex-direction: column;
    width: 655px;
    border-radius: 4px;
    background: #06060669;
    overflow: hidden;
    cursor: default;
}

.profile-collection-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #050505;
    padding: 10px;
}

.profile-collection-header h1 {
    font-size: 1rem;
    font-weight: 300;
    color: var(--light-color);
}

.profile-collection:hover .profile-collection-header a {
    display: flex;
}

.profile-collection-header a {
    display: none;
    align-items: center;
    font-size: 0.9rem;
    gap: 5px;
    color: var(--gray-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.profile-collection-header a:hover {
    color: var(--light-color);
}

.profile-collection-content {
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    gap: 15px;
}

.profile-statistics-in-collection {
    display: flex;
    background: #070707;
    border-radius: 4px;
    padding: 10px;
}

.profile-statistics-in-collection div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-statistics-in-collection div h1 {
    font-size: 2.5rem;
    font-weight: 200;
    color: #c3c3c3;
}

.profile-statistics-in-collection div a {
    display: flex;
    width: max-content;
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-color);
}

.profile-ctn-featured-games {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-ctn-featured-games h1 {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--gray-color);
}

.profile-featured-games {
    display: flex;
    gap: 10px;
    height: 70px;
}

.no-featured-games {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    font-weight: 400;
    color: #636363;
    gap: 10px;
}


/* profile recent activity */

.profile-recent-activity {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 655px;
    border-radius: 4px;
    background: #06060669;
    overflow: hidden;
    cursor: default;
}

.profile-recent-activity-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #050505;
    padding: 10px;
}

.profile-recent-activity-header h1 {
    font-size: 1rem;
    font-weight: 300;
    color: var(--light-color);
}

.profile-recent-activity-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.no-games-played-recently {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #636363;
    gap: 10px;
}

.no-games-played-recently i {
    font-size: 2rem;
}


/* profile aside */

.profile-aside {
    display: flex;
    flex-direction: column;
    width: 300px;
    cursor: default;
}

.profile-aside-header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    gap: 10px;
}

.profile-aside-header h1 {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 300;
    gap: 10px;
}

.profile-aside-header h1 span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #c74040;
    border-radius: 50px;
    font-size: 1rem;
}

.profile-aside-header a {
    display: flex;
    width: fit-content;
    padding: 4px 11px;
    border: 1px solid #000;
    background: #040404;
    font-size: 0.85rem;
    color: #c3c3c3;
    border-radius: 4px;
    transition: var(--transition-2s);
}

.profile-aside-header a:hover {
    color: var(--light-color);
    background: #1e1e1e;
    border-color: var(--dark-color);
}

.profile-aside-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px 10px;
    background: #06060669;
    border-radius: 5px;
    gap: 50px;
}

.profile-aside-info h1 {
    font-size: 1.15rem;
    font-weight: 300;
    color: #4399c7;
}

.profile-aside-awards {
    display: flex;
    flex-direction: column;
}

.profile-aside-info a {
    display: flex;
    font-size: 0.85rem;
    font-weight: 450;
    color: #d5d5d5;
    gap: 10px;
}

.profile-aside-info a span {
    margin-top: -15px;
    margin-bottom: -5px;
    font-size: 1.7rem;
    font-weight: 300;
    color: #757575;
}

.profile-aside-info a p:hover {
    text-decoration: underline;
}

.profile-awards {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 250px;
    height: 50px;
    border-radius: 2px;
    overflow: hidden;
    gap: 10px;
}

.award {
    display: flex;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.award img {
    display: flex;
    width: 100%;
}

.profile-aside-info ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.profile-aside-list-friends {
    margin-top: 3px;
    display: flex;
    width: 100%;
    height: 60px;
    border-radius: 2px;
}

@media (width < 720px) {

    .profile {
        margin: 95px 0 -1px;
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 100vw;
        padding: 25px 10px;
        background: #0f0f0f;
        border: none;
    }

    .profile-header-ctn {
        display: flex;
        flex-direction: column;
    }

    .profile-aside-header {
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        width: 100%;
    }

    .profile-aside-header a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .profile-aside-header h1{
        display: flex;
        align-items: center;
        padding: 10px 15px;
        background: #06060669;
    }

    .frame {
        top: 24px;
        left: 14px;
        width: 144px;
        height: 144px;
    }

    .profile-header img {
        width: 113px;
        height: 113px;
        border-radius: 3px;
    }

    .profile-header-content {
        padding: 20px;
    }

    .profile-header-content div h1 {
        display: flex;
        width: 200px;
        font-size: 1.4rem;
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .profile-header-content div p {
        margin-top: 10px;
        font-size: 0.9rem;
        font-weight: 200;
        width: 200px;
        max-height: 70px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #c3c3c3;
    }

    .profile-content{
        display: flex;
        flex-direction: column-reverse;
        margin-top: 15px;
    }

    .profile-aside{
        display: flex;
        width: 100%;
    }

    .profile-aside-info{
        display: flex;
        background: transparent;
        padding: 0;
        gap: 15px;
    }

    .profile-aside-info h1{
        display: flex;
        padding: 10px 15px;
        background: #06060669;
        border-radius: 4px;
    }

    .profile-aside-awards{
        padding: 10px 15px;
        background: #06060669;
    }


}