.profile-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(#00000035), var(--background-img);
    background-size: 1350px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 350px;
    overflow-y: auto;
}

.profile-main::-webkit-scrollbar{
    display: flex;
    width: 4px;
}

.profile-main::-webkit-scrollbar-thumb:hover{
    background: #0f0f0f;
    cursor: pointer;
}

.profile-content{
    margin: 130px 0;
    margin-left: 4px;
    display: flex;
    width: 920px;
    height: 1000px;
    background: #0000004a;
    border: 1px solid #0d0d0d;
    border-radius: var(--border);
    box-shadow: 0 0 20px 2px #000000d9;
}