.profile-main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(#00000000), url('https://images.steamusercontent.com/ugc/813306660768792771/CE4D98D423DAFE680A69F75F5F597CE2073DFE60/');
    background-size: 1770px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 60px;
    overflow-y: auto;
}

.profile-main::-webkit-scrollbar{
    display: flex;
    width: 4px;
}

.profile-main::-webkit-scrollbar-thumb:hover{
    background: #0f0f0f;
    cursor: pointer;
}

.profile-content{
    margin: 130px 0;
    margin-left: 4px;
    display: flex;
    width: 920px;
    height: 1000px;
    background: #080808f8;
    border: 1px solid var(--border-color);
    border-radius: var(--border);
    box-shadow: 0 0 20px 2px #000000d9;
}