.settings-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
    background: var(--background);
    cursor: default;
}

.settings-main-content {
    padding: 100px 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
}

.settings-main-content hr {
    display: flex;
    width: 100vw;
    border: 1px solid #151515;
}

.settings-main-header {
    display: flex;
    width: 100%;
    padding: 30px 0;
}

.settings-main-header h1 {
    font-size: 2rem;
    font-weight: 400;
}

.settings-main-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.settings-main-nav {
    position: sticky;
    top: 40px;
    display: flex;
    width: 250px;
    height: fit-content;
    padding: 30px 0;
    flex-direction: column;
}

.settings-main-nav a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 10px;
    font-size: 0.86rem;
    border-radius: var(--border);
    color: #b0b0b0;
    gap: 6px;
    cursor: pointer;
}

.settings-main-nav a:hover {
    background: #101010;
    color: var(--light-color);
}

.settings-main-nav a.active {
    background: var(--dark-color);
    color: var(--light-color);
}

.settings-main-nav a.disable {
    cursor: not-allowed;
}

.settings-area {
    display: flex;
    flex-direction: column;
    width: 900px;
    padding: 30px 0;
}

/* settings general */
.settings-general h1 {
    margin-top: 15px;
    font-size: 0.9rem;
    font-weight: 500;
}

.settings-general hr {
    margin: 7px 0;
    margin-bottom: -5px;
    width: 100%;
    color: var(--border-color);
}

.settings-general a {
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--primary-color);
    gap: 7px;
}

.settings-general a div {
    display: flex;
    width: 7px;
    height: 7px;
    background: var(--primary-color);
    border-radius: 50%;
}

.settings-general h2 {
    margin-top: 35px;
    font-size: 1.2rem;
    font-weight: 400;
}

.settings-general p {
    margin-top: 5px;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--gray-color);
}

.settings-general select {
    margin-top: 5px;
    display: flex;
    background: var(--background-card);
    width: 500px;
    padding: 7px 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--light-color);
    cursor: pointer;
}

.settings-general input {
    margin-top: 5px;
    display: flex;
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    padding: 7px 10px;
    background: var(--background-card);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 0.9rem;
    color: var(--light-color);
}


/* settings account */
.settings-account {
    display: flex;
    width: 100%;
}

.settings-account-left {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.settings-account-left h1 {
    margin-top: 15px;
    font-size: 0.9rem;
    font-weight: 500;
}

.settings-account-left p {
    margin-top: 5px;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--gray-color);
}

.settings-account-left input,
.settings-account-left textarea {
    margin-top: 5px;
    display: flex;
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    padding: 7px 10px;
    background: var(--background-card);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 0.9rem;
    color: var(--light-color);
}

.settings-account-left textarea {
    height: 80px;
    min-height: 60px;
    max-height: 100px;
}

.settings-account-left select {
    margin-top: 5px;
    display: flex;
    background: var(--background-card);
    width: 500px;
    padding: 7px 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--light-color);
    cursor: pointer;
}

.delete-account-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 900px;
}

.delete-account-content h1 {
    font-size: 1.3rem;
    font-weight: 400;
    color: #d03636;
}

.delete-account-content hr {
    margin: 10px 0 20px 0;
    width: 100%;
    border: 1px solid #d03636;
}

.delete-account {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-account h2 {
    font-size: 0.95rem;
    font-weight: 500;
}

.delete-account-content p {
    margin-top: 0;
    font-size: 0.75rem;
    font-weight: 300;
}

.delete-account button {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 7px;
    background: transparent;
    border: 1px solid #ca5555;
    border-radius: 50px;
    font-size: 0.9rem;
    color: #ca5555;
    cursor: pointer;
    transition: var(--transition-2s);
}

.delete-account button:hover {
    border-color: #5f1919;
    background: #d03636;
    color: var(--light-color);
}

.settings-account-right {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    gap: 10px;
}

.settings-account-right h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

.settings-account-right img {
    display: flex;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.settings-account-right button {
    position: absolute;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 9px;
    background: var(--background);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 0.85rem;
    color: var(--gray-color);
    gap: 7px;
    cursor: pointer;
    transition: var(--transition-2s);
}

.settings-account-right button:hover {
    color: var(--light-color);
}

/* settings notifications */
.settings-notifications h1 {
    margin-top: 35px;
    font-size: 1.2rem;
    font-weight: 400;
}

.settings-notifications h2 {
    margin-top: 5px;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--gray-color);
}

.settings-notifications hr {
    margin: 7px 0;
    width: 100%;
    color: var(--border-color);
}

.settings-notifications p {
    margin-top: -8px;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--gray-color);
}

.settings-notifications select {
    margin-top: 5px;
    display: flex;
    background: var(--background-card);
    width: 500px;
    padding: 7px 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--light-color);
    cursor: pointer;
}

.settings-notifications-checkbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings-notifications-checkbox div {
    margin-top: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.settings-notifications-checkbox.disabled {
    opacity: 0.4;
    pointer-events: none;
}

/* settings steam */
.settings-steam-header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.settings-steam-header img {
    display: flex;
    width: 130px;
}

.settings-steam-header a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 0.9rem;
    color: var(--gray-color);
    transition: var(--transition-2s);
}

.settings-steam-header a:hover {
    background: var(--light-color);
    border-color: var(--light-color);
    color: var(--black);
    box-shadow: 0 0 15px 0 #ffffff6c;
}

.settings-steam-header a.active {
    background: var(--light-color);
    border-color: var(--light-color);
    color: var(--black);
}

.settings-steam-content {
    margin-top: 10px;
}

.settings-steam-content h1 {
    font-size: 0.95rem;
    font-weight: 500;
}

.settings-steam-content h3 {
    display: flex;
    align-items: center;
    margin-top: 7px;
    font-size: 0.85rem;
    font-weight: 400;
    gap: 10px;
}

.settings-steam-content h3 span {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background: var(--dark-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-shadow: inset 0 0 10px 0 #000;
    gap: 7px;
    cursor: pointer;
}

.settings-steam-content p {
    font-size: 0.85rem;
    font-weight: 400;
    color: var(--gray-color);
}

.settings-steam-content h2 {
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: 500;
}

.settings-steam-content ul li {
    margin-left: 15px;
    font-size: 0.85rem;
    font-weight: 300;
    color: #e7e7e7;
}


/* settings security */
.settings-security i.persona {
    margin-top: 50px;
    margin-left: 700px;
    position: absolute;
    font-size: 6rem;
    color: var(--dark-color);
}

.settings-security h1 {
    margin-top: 15px;
    font-size: 0.9rem;
    font-weight: 500;
}

.settings-security input {
    margin-top: 5px;
    width: 500px;
    padding: 7px 10px;
    background: var(--background-card);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 0.9rem;
    color: var(--light-color);
}

.settings-security input.readOnly {
    outline: none;
}

.settings-security button.reset-password {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--gray-color);
    background: transparent;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition-2s);
}

.settings-security button.reset-password:hover {
    background: var(--light-color);
    border-color: var(--light-color);
    color: var(--black);
    box-shadow: 0 0 15px 0 #ffffff6c;
}

.settings-security hr {
    width: 100%;
    margin: 30px 0;
}

.settings-security-session {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-security-session h2 {
    font-size: 0.95rem;
    font-weight: 500;
}

.settings-security-session button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 7px;
    background: transparent;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    font-size: 0.9rem;
    color: var(--gray-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.settings-security-session button:hover {
    background: var(--light-color);
    border-color: var(--light-color);
    color: var(--black);
    box-shadow: 0 0 15px 0 #ffffff6c;
}

.settings-security-session button.active {
    border-color: #ca5555;
    color: #ca5555;
}

.settings-security-session button.active:hover {
    border-color: #5f1919;
    background: #d03636;
    color: var(--light-color);
    box-shadow: none;
}

.settings-security-all-session {
    display: flex;
    flex-direction: column;
}

.settings-security-all-session p {
    margin-top: 10px;
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--gray-color);
}


/* settings support */
.settings-support h1 {
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-top: 15px;
    font-size: 0.95rem;
    font-weight: 500;
}

.settings-support hr {
    margin: 30px 0;
    display: flex;
    width: 100%;
}

.settings-support h2 {
    margin-top: 15px;
    font-size: 0.85rem;
    font-weight: 500;
}

.settings-support p {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--gray-color);
}

.settings-support ul {
    margin-top: 3px;
}

.settings-support ul li {
    margin-left: 15px;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--light-color);
}

.settings-support a {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--black);
    background: var(--light-color);
    gap: 5px;
    transition: var(--transition-2s);
}

.settings-support a:hover {
    box-shadow: 0 0 15px 0 #ffffff6c;
}


/* settings terms and privacy */
.settings-terms-privacy h1 {
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-top: 15px;
    font-size: 0.95rem;
    font-weight: 500;
}

.settings-terms-privacy hr {
    margin: 30px 0;
    display: flex;
    width: 100%;
}

.settings-terms-privacy h2 {
    margin-top: 15px;
    font-size: 0.85rem;
    font-weight: 500;
}

.settings-terms-privacy p {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--gray-color);
}

.settings-terms-privacy ul {
    margin-top: 3px;
}

.settings-terms-privacy ul li {
    margin-left: 15px;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--light-color);
}

.settings-terms-privacy a {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--black);
    background: var(--light-color);
    gap: 5px;
    transition: var(--transition-2s);
}

.settings-terms-privacy a:hover {
    box-shadow: 0 0 15px 0 #ffffff6c;
}

/* modal change profile picture */
.change-profile-picture {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: #00000096;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.modal-change-profile-picture {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid var(--border-color);
    border-radius: var(--border);
    background: var(--background-card);
    box-shadow: 0 0 10px 2px #000;
}

.modal-change-profile-picture-header {
    display: flex;
    padding: 10px 15px;
    border-bottom: 1px solid var(--border-color);
}

.modal-change-profile-picture-header h1 {
    font-size: 1rem;
    font-weight: 500;
}

.modal-change-profile-picture-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.modal-change-profile-picture-content p {
    font-size: 0.85rem;
    font-weight: 400;
}

.modal-change-profile-picture-content ul {
    margin-top: 3px;
    display: flex;
    flex-direction: column;
}

.modal-change-profile-picture-content ul li {
    display: flex;
    gap: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--gray-color);
}

.modal-change-profile-picture-content ul li p {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--gray-color);
}

.modal-change-profile-picture-content label {
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 500;
}

.modal-change-profile-picture-content input {
    margin-top: 5px;
    display: flex;
    width: 100%;
    padding: 7px 10px;
    background: #0e0e0e;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 0.9rem;
    color: var(--light-color);
}

.modal-change-profile-picture-btn {
    margin-top: 25px;
    display: flex;
    justify-content: end;
    gap: 15px;
}

.modal-change-profile-picture-btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border: 1px solid var(--gray-color);
    border-radius: 50px;
    background: transparent;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--light-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.modal-change-profile-picture-btn button:hover {
    border-color: var(--light-color);
    box-shadow: 0 0 10px 0 #ffffff45;
}

.modal-change-profile-picture-btn button.active {
    background: var(--light-color);
    color: var(--black);
}

/* =========================================================
   SETTINGS – MOBILE RESPONSIVE ( < 720px )
   ========================================================= */

@media (width < 720px) {

    .settings-main {
        width: 100vw;
        min-height: 100vh;
    }

    .settings-main-content {
        width: 100%;
    }

    .settings-main-header {
        display: none;
    }

    .settings-main-area {
        flex-direction: column;
    }

    .settings-main-nav {
        position: sticky;
        top: 47px;
        width: 100%;
        padding: 10px 20px;
        overflow-x: auto;
        background: #000;
        border-bottom: 1px solid var(--border-color);
        z-index: 1;
    }

    .settings-main-nav::-webkit-scrollbar {
        display: none;
    }

    .settings-main-nav ul {
        display: flex;
        gap: 5px;
    }

    .settings-main-nav a {
        white-space: nowrap;
        font-size: 0.75rem;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .settings-area {
        width: 100%;
        padding: 0 20px;
    }

    .settings-general select,
    .settings-general input,
    .settings-account-left input,
    .settings-account-left textarea,
    .settings-account-left select,
    .settings-notifications select,
    .settings-security input {
        margin-top: 7px;
        width: 100%;
        min-width: unset;
        max-width: unset;
    }

    .settings-general h2 {
        margin-top: 25px;
        font-size: 1.05rem;
    }

    .settings-general h1 {
        font-size: 0.85rem;
    }

    .settings-general p {
        font-size: 0.72rem;
    }

    .settings-account {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .settings-account-left{
        width: 100%;
    }

    .settings-account-right{
        margin-top: 30px;
        height: fit-content;
    }

    .settings-account-right img {
        width: 160px;
        height: 160px;
    }

    .settings-account-right button {
        top: 120px;
        margin-left: 110px;
    }

    .delete-account-content {
        width: 100%;
        gap: 5px;
    }

    .delete-account button {
        width: 200px;
    }

    .settings-security i.persona {
        display: none;
    }

    .settings-security-all-session{
        margin-top: 30px;
    }

    .settings-security-session button {
        width: 150px;
    }

    .modal-change-profile-picture {
        width: 95%;
    }

}