.settings-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 100vh;
    background: var(--background);
    cursor: default;
}

.settings-main-content {
    padding: 100px 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
}

.settings-main-content hr {
    display: flex;
    width: 100vw;
    border: 1px solid #151515;
}

.settings-main-header {
    display: flex;
    width: 100%;
    padding: 30px 0;
}

.settings-main-header h1 {
    font-size: 2rem;
    font-weight: 400;
}

.settings-main-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.settings-main-nav {
    position: sticky;
    top: 40px;
    display: flex;
    width: 250px;
    height: fit-content;
    padding: 30px 0;
    flex-direction: column;
}

.settings-main-nav a {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 10px;
    font-size: 0.86rem;
    border-radius: var(--border);
    color: #b0b0b0;
    gap: 6px;
}

.settings-main-nav a:hover {
    background: #101010;
    color: var(--light-color);
}

.settings-main-nav a.active {
    background: var(--dark-color);
    color: var(--light-color);
}

.settings-area {
    display: flex;
    flex-direction: column;
    width: 900px;
    padding: 30px 0;
}

/* settings account */
.settings-account {
    display: flex;
    width: 100%;
}

.settings-account-left {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.settings-account-left h1 {
    margin-top: 15px;
    font-size: 0.9rem;
    font-weight: 500;
}

.settings-account-left p {
    margin-top: 5px;
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--gray-color);
}

.settings-account-left input,
.settings-account-left textarea {
    margin-top: 5px;
    display: flex;
    width: 500px;
    max-width: 500px;
    min-width: 500px;
    padding: 7px 10px;
    background: var(--background-card);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 0.9rem;
    color: var(--light-color);
}

.settings-account-left textarea {
    height: 80px;
    min-height: 60px;
    max-height: 100px;
}

.settings-account-left button {
    margin-top: 20px;
    display: flex;
    width: fit-content;
    padding: 7px 10px;
    border: none;
    border-radius: 4px;
    background: #277628;
    color: var(--light-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.settings-account-left button:hover {
    background: #2f9731;
}

.settings-account-left select {
    margin-top: 5px;
    display: flex;
    background: var(--background-card);
    width: 500px;
    padding: 7px 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    color: var(--light-color);
}



.settings-account-right {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

.settings-account-right h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

.settings-account-right img {
    display: flex;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 1px solid var(--border-color);
}

.settings-account-right button {
    position: absolute;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 9px;
    background: var(--background);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    font-size: 0.85rem;
    color: var(--gray-color);
    gap: 7px;
    cursor: pointer;
    transition: var(--transition-2s);
}

.settings-account-right button:hover {
    color: var(--light-color);
}


/* settings security */
.settings-security i.persona{
    margin-top: 50px;
    margin-left: 700px;
    position: absolute;
    font-size: 6rem;
    color: var(--dark-color);
}

.settings-security h1 {
    margin-top: 15px;
    font-size: 0.9rem;
    font-weight: 500;
}

.settings-security input {
    margin-top: 5px;
    width: 500px;
    padding: 7px 10px;
    background: var(--background-card);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 0.9rem;
    color: var(--light-color);
}

.settings-security input.readOnly {
    outline: none;
}

.settings-security button.reset-password {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--gray-color);
    background: transparent;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    transition: var(--transition-2s);
}

.settings-security button.reset-password:hover {
    background: var(--light-color);
    border-color: var(--light-color);
    color: var(--black);
    box-shadow: 0 0 15px 0 #ffffff6c;
}

.settings-security hr {
    width: 100%;
    margin: 30px 0;
}

.settings-security-session {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings-security-session h2 {
    font-size: 0.95rem;
    font-weight: 500;
}

.settings-security-session button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 7px;
    background: transparent;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    font-size: 0.9rem;
    color: var(--gray-color);
    cursor: pointer;
    transition: var(--transition-2s);
}

.settings-security-session button:hover {
    background: var(--light-color);
    border-color: var(--light-color);
    color: var(--black);
    box-shadow: 0 0 15px 0 #ffffff6c;
}

.settings-security-session button.active {
    border-color: #ca5555;
    color: #ca5555;
}

.settings-security-session button.active:hover {
    border-color: #5f1919;
    background: #d03636;
    color: var(--light-color);
    box-shadow: none;
}

.settings-security-all-session {
    display: flex;
    flex-direction: column;
}

.settings-security-all-session p {
    margin-top: 10px;
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--gray-color);
}


/* settings support */
.settings-support h1 {
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-top: 15px;
    font-size: 0.95rem;
    font-weight: 500;
}

.settings-support hr {
    margin: 30px 0;
    display: flex;
    width: 100%;
}

.settings-support h2 {
    margin-top: 15px;
    font-size: 0.85rem;
    font-weight: 500;
}

.settings-support p {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--gray-color);
}

.settings-support ul {
    margin-top: 3px;
}

.settings-support ul li {
    margin-left: 15px;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--light-color);
}

.settings-support a {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--black);
    background: var(--light-color);
    gap: 5px;
    transition: var(--transition-2s);
}

.settings-support a:hover {
    box-shadow: 0 0 15px 0 #ffffff6c;
}


/* settings terms and privacy */
.settings-terms-privacy h1 {
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-top: 15px;
    font-size: 0.95rem;
    font-weight: 500;
}

.settings-terms-privacy hr {
    margin: 30px 0;
    display: flex;
    width: 100%;
}

.settings-terms-privacy h2 {
    margin-top: 15px;
    font-size: 0.85rem;
    font-weight: 500;
}

.settings-terms-privacy p {
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--gray-color);
}

.settings-terms-privacy ul {
    margin-top: 3px;
}

.settings-terms-privacy ul li {
    margin-left: 15px;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--light-color);
}

.settings-terms-privacy a {
    margin-top: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 5px 10px;
    border: none;
    border-radius: 6px;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--black);
    background: var(--light-color);
    gap: 5px;
    transition: var(--transition-2s);
}

.settings-terms-privacy a:hover {
    box-shadow: 0 0 15px 0 #ffffff6c;
}