.status-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.status-page::-webkit-scrollbar {
    display: flex;
    width: 5px;
    background: var(--background-card);
}

.status-page::-webkit-scrollbar-thumb {
    background: #0f0f0f;
    border-radius: 50px;
}

.status-page header {
    display: flex;
    justify-content: space-between;
    width: 850px;
    height: fit-content;
    box-shadow: none;
    padding: 15px 0px;
}

.status-page header img {
    display: flex;
    width: 30px;
    cursor: pointer;
}

.status-page header a {
    display: flex;
    font-size: 0.8rem;
    color: var(--gray-color);
    padding: 5px 13px;
    border-radius: 7px;
    border: 1px solid var(--border-color);
}

.status-page header a:hover {
    color: var(--black);
    background: var(--light-color);
    font-weight: 500;
    box-shadow: 0 0 10px 0 #ffffff35;
}

.status-all-applications {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 18px;
    width: 850px;
    border-radius: var(--border);
    background: #006efe;
}

.status-all-applications h1 {
    font-size: 0.9rem;
    font-weight: 400;
}

.commits-dates {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    width: 850px;
    gap: 40px;
}

.commits-day {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
}

.commits-day h1 {
    font-size: 1rem;
    font-weight: 400;
}

.commits-day hr {
    border: 1px solid var(--dark-color);
}

.latest-commits {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.latest-commits h3 {
    font-size: 0.9rem;
    font-weight: 300;
    color: #969696;
}

.commit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}

.commit p {
    font-size: 0.9rem;
    font-weight: 450;
}

.commit h2 {
    margin-top: 2px;
    font-size: 0.85rem;
    font-weight: 300;
    color: #969696;
}

.commit i {
    font-size: 1rem;
    color: #58da47;
}

.link-go-to {
    border-top: 1px solid var(--border-color);
    display: flex;
    margin-top: 35px;
    width: 850px;
    padding: 10px 0 35px 0;
}

.link-go-to a{
    font-size: 0.85rem;
    color: var(--primary-color);
}

@media (width < 720px) {

    .status-page {
        overflow-x: hidden;
    }

    .status-page header {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100vw;
        padding: 15px;
        gap: 0px;
        z-index: 1;
    }

    .status-all-applications {
        gap: 10px;
        padding: 15px;
        width: 95%;
    }

    .commits-dates {
        margin-top: 40px;
        width: 95%;
    }

    .link-go-to {
        margin-top: 35px;
        width: 100%;
        padding: 15px;
    }
}